<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>
    <div class="center-ver mb-3" style="width: 100%; height: 40px">
      <div class="search-container center" style="width: 50%">
        <form action="">
          <input type="text" placeholder="Search.." name="search" />
          <button type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
      <div class="center-ver">
        <div class="m-2">My Topics:</div>
        <div class="bg-topics center m-2">Content Writing</div>
        <div class="bg-topics center m-2">Development</div>
        <div class="bg-topics center m-2">Education</div>
        <div class="bg-topics center m-2">Ui/Ux</div>
      </div>
    </div>
    <div class="d-flex">
      <div style="width: 75%">
        <div class="center-ver justify-content-around" style="width: 100%">
          <div class="fs-5 fw-bold" style="width: 50%">Articles</div>
          <div class="input-group ms-5" style="width: 120px">
            <select class="form-select" id="inputGroupSelect01">
              <option value="1">All</option>
              <option value="2">First Added</option>
              <option value="3">Last Added</option>
            </select>
          </div>
        </div>
        <div>
          <% if (blogs.length>0){ %> <% blogs.forEach(blog=>{%>
          <div class="p-2 m-5 bg-blog-card" style="width: 90%">
            <a href="/blogs/<%=blog._id %>">
              <div class="center-ver">
                <div class="center border-c me-2" style="width: 40px; aspect-ratio: 1/1">
                  <i class="bi bi-person-circle fs-5"></i>
                </div>
                <div>Username of Blog Auther</div>
              </div>
              <div>
                <h4 class="m-1" style="width: 100%"><%= blog.title %></h4>
              </div>
            </a>
          </div>
          <% }) %> <%} else { %>
          <h2>There are no blogs to display..........</h2>
          <% }%>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
